{% extends 'base.html' %}

{% block title %}
Modifing Default
{% endblock %}

{% block MainContainer %}
    <div class="container">
        <div class="col-lg-8">
            <form action="/modify_defaults" method="post">
                <input name="did" type="hidden" value={{default['did']}}>
                Name: {{default['name']}} <input name="name" type="text"><br>
                Source: {{default['be_from']}} <input name="be_from" type="text"><br>
                Receiver: {{default['be_to']}} <input name="be_to" type="text"><br>
                Starting from: {{default['starting']}} <input name="starting" type="datetime-local"><br>
                Ending from: {{default['ending']}} <input name="ending" type="datetime-local"><br>
                Cycle: {{default['cycle']}} <select name="cycle">
                            <option value ="week">week</option>
                            <option value ="month">month</option>
                            <option value="quarter">quarter</option>
                            <option value="half-year">half-year</option>
                            <option value="year">year</option>
                        </select><br>
                Amount: {{default['amt']}} <input name="amt" type="number"><br>
                Remark: {{default['remark']}} <input name="remark" type="text"><br>
                Tag: {{default['tag']}} <input name="tag" type="text"><br>
                <button type="submit">Modify</button>
            </form>
            {{msg}}
        </div>
    </div>
{% endblock %}