{% extends 'base.html' %}

{% block title %}
Races
{% endblock %}

{% block MainContainer %}
    <div class="container">
        <div class="col-lg-8">
            {% for race in races%}
            <table class="table">
              <tbody>
                <tr>
                    <td>{{race['tname']}}</td>
                    <form action="race_rank" method="post">
                        <input type="hidden"
                               name="rid"
                               value={{race['rid']}}>
                        <button type="submit">{{race['name']}}</button>
                    </form>
                </tr>
              </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}</html>