{% extends 'base.html' %}

{% block title %}
Modifing Plan
{% endblock %}

{% block MainContainer %}
    <div class="container">
        <div class="col-lg-8">
            <form action="/modify_plans" method="post">
                Starting from: {{plan['starting']}}<input name="starting" type="text"><br>
                Ending from: {{plan['ending']}}<input name="ending" type="text"><br>
                Cycle: {{plan['cycle']}}<input name="cycle" type="text"><br>
                Budget: {{plan['budget']}}<input name="budget" type="text"><br>
                <input name="old_budget" type="hidden" value={{plan['budget']}}>
                <input name="old_credit" type="hidden" value={{plan['credit']}}>
                <button type="submit">Modify</button>
            </form>
        </div>
    </div>
{% endblock %}