{% extends 'base.html' %}

{% block title %}
User Profile
{% endblock %}

{% block MainContainer %}
    <div class="container">

        <div class="col-lg-8">
            <form action="/modify_profile" method="post">
                Id: {{profile['aid']}}<br>
                User Name: {{profile['name']}} <input name="name" type="text"><br>
                Password: {{profile['pwd']}} <input name="password" type="text"><br>
                Email: {{profile['email']}} <input name="email" type="email"><br>
                <button id="submit" type="submit">Modify</button>
            </form>
        </div>
    </div>
{% endblock %}
